<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="processor.presentation.ProcessorModelWizardID"
            name="%_UI_ProcessorModelWizard_label"
            class="processor.presentation.ProcessorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProcessorModelFile.gif">
         <description>%_UI_ProcessorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="processor.presentation.ProcessorEditorID"
            name="%_UI_ProcessorEditor_label"
            icon="icons/full/obj16/ProcessorModelFile.gif"
            extensions="processor"
            class="processor.presentation.ProcessorEditor"
            contributorClass="processor.presentation.ProcessorActionBarContributor">
      </editor>
   </extension>

</plugin>
