<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="br.ufrn.lasic.pml.presentation.PMLModelWizardID"
            name="%_UI_PMLModelWizard_label"
            class="br.ufrn.lasic.pml.presentation.PMLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PMLModelFile.gif">
         <description>%_UI_PMLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="br.ufrn.lasic.pml.presentation.PMLEditorID"
            name="%_UI_PMLEditor_label"
            icon="icons/full/obj16/PMLModelFile.gif"
            extensions="pml"
            class="br.ufrn.lasic.pml.presentation.PMLEditor"
            contributorClass="br.ufrn.lasic.pml.presentation.PMLActionBarContributor">
      </editor>
   </extension>

</plugin>
